/* Flex Slider
=========================================================*/
.flex-container a:active,.flexslider a:active,.flex-container a:focus,.flexslider a:focus{
    outline:none;
}

.slides,.flex-control-nav,.flex-direction-nav{
    margin:0;
    padding:0;
    list-style:none;
}

.flexslider{
    margin:0;padding:0;
}

.flexslider .slides>li{
    display:none;
    -webkit-backface-visibility:hidden;
}

.flexslider .slides img{
    max-width:100%;display:block;
}

.flex-pauseplay span{
    text-transform:capitalize;
}

.slides:after{
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0;
}

html[xmlns] .slides{
    display:block;
}

* html .slides{
    height:1%;
}

.no-js .slides>li:first-child{
    display:block;
}

.flexslider{
    position:relative;
    zoom:1;
}

.flexslider .slides{
    zoom:1;
}

.flexslider .slides>li{
    position:relative;
}

.flex-container{
    zoom:1;
    position:relative;
}

.flex-caption{
    background:#333;
    filter:alpha(opacity=80); /* IE patch */
    zoom:1;
}

.flex-caption{
    width:30%;
    padding:15px 20px;
    margin:0;
    position:absolute;
    left:20px;
    bottom:20px;
    background:rgba(51,51,51,.8);
    color:#fff;
    line-height:25px;
}

.flex-caption span {
    display:block;
    padding:0 0 7px 0;
}

.flex-direction-nav{
    height:0;
}

.flex-direction-nav li a{
    width:29px;
    height:78px;
    margin:0;
    display:block;
    position:absolute;
    top:40%;
    cursor:pointer;
    text-indent:-999em;
}

.flex-direction-nav li .next{
    right:0;
}

.flex-direction-nav li .prev{
    left:0;
}

.flex-direction-nav li .disabled{
    opacity:.3;
    filter:alpha(opacity=30);
    cursor:default;
}

.flex-control-nav{
    width:100%;
    position:absolute;
    bottom:-32px;
    text-align:center;
}

.flex-control-nav li{
    margin:0 0 0 5px;
    display:inline-block;
    zoom:1;
    *display:inline;
}

.flex-control-nav li:first-child{
    margin:0;
}

.flex-control-nav li a{
    width:30px;
    height:10px;
    display:block;
    cursor:pointer;
    text-indent:-999em;
}